[global]
db=live8_35_6_44PM

#instrument names come from backend.cfg
#variables come from the database columns
[konasphere1]
instrument=aeth
variable=black_carbon
pwlinfcn=((0,'d',0),(2000,'d',70),(5000,'d',99))
port=com16
baud=9600
rateSec=10

[konasphere2]
instrument=dusttrack
variable=mg_m3
pwlinfcn=((0,'d',0),(.4,'d',70),(2,'d',99))
port=com7
baud=9600
rateSec=10
